*{
	box-sizing: border-box;
}
:root{
		 /* color text */
			--orange: rgba(242, 120, 92, 1);
			--aqua: rgba(13, 96, 111, 1);
		
			/* background-color */
			--bgpresik: rgba(242, 120, 92, 0.7);
		
}
html{
	scroll-behavior: smooth;
}
body{
	margin: 0;
	min-width: 1440px;
}

.header {
	margin: 0 auto;
	width: 1440px;
	height: 90px;
	display: flex;
	justify-content: space-between;

}

.header-container{
	background: url(./images/BG.jpg);
	height: 90px;
}

.header-bg{
	display: flex;
	justify-content: space-between;
	width: 1440px;
	background: rgba(242, 120, 92, 0.7);
	box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
	height: 90px;
	padding: 0 120px;
	align-items: center;
		
}

.logo {

}

.url {
	font-family: 'Magra';
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 39px;
	color: #FFFFFF;
	text-decoration: none;
}

.url:hover{
	color: var(--aqua);
	transition: 1s;
}

.nav {
	width: 527px;
	height: 21px;
}

.nav-list {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 42px;
	list-style: none;
	margin: 0 auto;
	width: 527px;
	height: 21px;
	
}

.nav-item {
	display: flex;
	justify-content: space-between;
	font-family: 'Red Hat Text';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.31;
	color: #FFFFFF;
	text-decoration: none;
}

.nav-item:hover{
	color: var(--aqua);
	transition: 1s;
}

.none{
		font-family: 'Red Hat Text';
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 1.31;
			color: #FFFFFF;
			text-decoration: none;
}

.block-button{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.button{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 103px;
	height: 41px;
	
	/* bg */
	background: #0D606F;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
	border-radius: 10px;
	border: none;
	color: white;
	/* text */
	font-family: 'Red Hat Text';
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	color: #FFFFFF;
}

.button:hover{
	transform: scale(1.1);
	transition: 1s;
	color: var(--orange);
	cursor: pointer;
}

/* main */
/* hero */
.preview{
	width: 1440px;
	background: url('./images/BG.jpg');
	background-position: bottom;
	height: 673px;
	margin: 0 auto;
}

.main-hero{
	width: 892px;
	padding: 32px 0 0 120px;
}

.main-hero h1{
	font-family: 'Aleo';
	font-weight: 700;
	font-size: 80px;
	line-height: 1.2;
	margin: 0;
	color: #FFFFFF;
	width: 900px;
}

.text-hero{
	font-family: 'Aleo';
	font-style: italic;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.2;
	/* identical to box height */
	color: #FFFFFF;
	margin: 35px 0 0 0;
}
/* input */
.search{
	display: block;
	color: #F2785C;
	width: 892px;
	height: 95px;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 16px;
	font-family: 'Aleo';
	font-style: italic;
	font-weight: 400;
	font-size: 24px;
	line-height: 1.208;
	padding: 32px 291px 32px 41px;
	border: none;
	margin-top: 46px;
	outline: none;
}

/* Search button */
.button2{
	width: 228px;
	height: 59px;
	background: #0D606F;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
	border-radius: 10px;
	border: none;
	color: white;
	font-family: 'Red Hat Text';
	font-weight: 500;
	font-size: 24px;
	line-height: 1.3;
	
}

.button2:hover{
	transform: scale(1.1);
	transition: 1s;
	color: var(--orange);
	cursor: pointer;
}

.block-button-search{
	display: flex;
	justify-content: flex-end;
	position: relative;
	z-index: 1;
	bottom: 77px;
	width: 228px;
	margin-left: 646px;
	
}

/* Steps Container */


.steps{
	width: 1440px;
	margin: 0 auto;
}

.steps-container{
	width: 1440px;
	margin: 0 auto;
}

.steps-container>h2{
	margin: 0 auto;
	padding-top: 80px;
	font-family: 'Red Hat Text';
	font-weight: 500;
	font-size: 40px;
	line-height: 1.325;
	/* identical to box height */
	color: #F2785C;
	width: 611px;
}

.step-list{
	display: flex;
	justify-content: center;
	list-style-type: none;
	padding: 40px 0 0 0;
	margin: 0;
	width: 1440px;
}

.step-list>li:nth-child(1){
	width: 247px;
}

.step-list>li:nth-child(2) {
	width: 222px;
	margin: 0 160px 0 231px;
}

.step-list>li{
	display: flex;
	width: 317px;

}

.step-icon{
	width: 100px;
	height: 100px;
	padding: 24px 23px 25px 23px;
	background: var(--orange);
	border-radius: 16px;
}

.text-list{
	margin: 0;
	padding: 0;
	display: flex;
	flex-grow: 1;
	list-style-type: none;

}

.step-text{
	margin: 0 auto;
	font-family: 'Aleo';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	/* identical to box height */
	color: #0D606F;
	align-content: center;
	padding: 25px 0 0 0;
	
}

.step-list>li{
	display: block;
	text-align: center;
}

/* ............... */

.step2 {
	width: 1440px;
	margin: 0 auto;
}

.step2-container {
	width: 1440px;
	margin: 0 auto;
}

.title-dest { 
	width: 501px;
	margin: 0 auto;
	font-family: 'Red Hat Text';
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 1.3;
	/* identical to box height */
		color: #F2785C;
		margin-top: 100px;
}

.dest-container {
	display: flex;
	justify-content: center;
	margin-top: 46px;
	width: 1440px;
	height: 800px;
	overflow: hidden;
}

.img-country{
	border-radius: 16px;
}

.img-japan{
	margin: 0 60px 0 60px;
}


.text-img{
	position: relative;
	z-index: 1;
	margin: -85px 0 0 15px ;
	font-family: 'Red Hat Text';
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 1.31;
	text-transform: uppercase;
	color: #FFFFFF;
	width: 108px;
	height: 42px;
}

.block-button2{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 37px;
	align-items: center;
	
}

.button3{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: #0D606F;
	box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
	border-radius: 10px;
	width: 228px;
	height: 59px;
	border: none;
	font-family: 'Red Hat Text';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 32px;
	
	color: #FFFFFF;
}

.button3>img{
	margin-right: 12px;
}


.button3:hover{
	cursor: pointer;
	color: var(--orange);
	transform: scale(1.1);
	transition: 1s;
}

.radio-container{
	width: 1440px;
	margin-top: 24px;
	text-align: center;
}


.radio-box{
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

.radio-style{
	display: inline-flex;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: rgba(242, 120, 92, 0.5);
}

.checked{
	margin: 0 8px;
}

.radio-box:checked + .radio-style{
	background: var(--orange)
}

.radio-box:checked:hover + .radio-style,
.radio-box:hover + .radio-style{
	cursor: pointer;
	transform: scale(1.1);
	transition: 0.5s;
}

/* ................Stories Travel.................. */

.stories {
	width: 1440px;
	margin: 0 auto;
}

.stories-container{
	margin-top: 78px;
}

.stories-container>h2 {
	width: 335px;
	padding: 0;
	margin: 0 auto;
	font-family: 'Red Hat Text';
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 53px;
	/* identical to box height */
	color: #F2785C;
	
}

.trft-background {
	margin-top: 40px ;
	background: url('./images/stories-bg.jpg');
	width: 1440px;
	height: 1270px;
}

.stories-bg{
	width: 1440px;
	height: 1270px;
	background: rgba(255, 255, 255, 0.7);
	
}

/* stories */

.story-1 {
	display: flex;
	padding: 40px 125px 0 120px;
	margin: 0;
}

.story-1>div{
	margin-left: 40px;
}

.story-1>img{
	filter: drop-shadow(0px 4px 4px #0D606F);
	border-radius: 16px;
}

.story-1>img:hover{
	transform: scale(1.2);
	transition: 1s;
}

.story-2>img:hover {
	transform: scale(1.2);
	transition: 1s;
}

.story-3>img:hover {
	transform: scale(1.2);
	transition: 1s;
}

.story-4>img:hover {
	transform: scale(1.2);
	transition: 1s;
}

.story-title {
	margin: 0;
	width: 760px;
	height: 42px;
	font-family: 'Aleo';
	font-weight: 400;
	font-size: 35px;
	line-height: 1.2;
	/* identical to box height */
	
	color: #0D606F;
}

.story-text {
	width: 760px;
	height: auto;
	font-family: 'Aleo';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.2;
	margin: 24px 0 0 0;
	color: #0D606F;
}

.link{
	font-family: 'Aleo';
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
	
		color: #0D606F;
}

.link:hover{
	color: var(--orange);
	transition: 0.5s;
}


/* story 2 */

.story-2{
	display: flex;
	padding: 30px 125px 0 120px;
	margin: 0;
}

.story-2>div {
	margin-left: 40px;
}

.story-2>img {
	filter: drop-shadow(0px 4px 4px #0D606F);
	border-radius: 16px;
}

/* story 3 */

.story-3 {
	display: flex;
	padding: 30px 125px 0 120px;
	margin: 0;
}

.story-3>div {
	margin-left: 32px;
}

.story-3>img {
	filter: drop-shadow(0px 4px 4px #0D606F);
	border-radius: 16px;
}

/* story 4 */

.story-4 {
	display: flex;
	padding: 25px 125px 0 118px;
	margin: 0;
}

.story-4>div {
	margin-left: 33px;
}

.story-4>img {
	filter: drop-shadow(0px 4px 4px #0D606F);
	border-radius: 16px;
}

.block-button3{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 30px;
	align-items: center;
}

/* Fooooooooter */

.footer {
	background: url(./images/stories-bg.jpg) bottom;
	background-position: bottom;
	margin: 0 auto;
	width: 1440px;
	height: 61px;
	position: relative;
	z-index: 1;
	padding: 7px 0 0 0;
	display: flex;
	
}

.text-footer {
	width: 260px;
	font-family: 'Red Hat Text';
	font-weight: 500;
	font-size: 16px;
	line-height: 1.3;
	margin-left: 590px;
	color: white;
}

.social-media-list {
	display: inline-flex;
	list-style: none;
	align-items: center;
	margin-left: 328px;
	padding: 0;
}

.social-media-items:hover{
	transform: scale(1.3);
	transition: 1s;
}

.media-youtube{
	margin: 0 22px 0 22px ;
}
/* 
.social-media-items{
	width: 141px;
} */